# Setting up the environment

# Specify to start uvicorn app in dev or prod mode. default is dev if not set [prod|dev]
ENVIRONMENT=prod

# Allowed origins for CORS in production, separated by comma, no spaces
ALLOWED_ORIGINS=http://localhost:3000,https://smart-retrieval-demo.vercel.app

# Use Local LLM [true|false]
USE_LOCAL_LLM=true

# Use Local Vector Store [true|false]
USE_LOCAL_VECTOR_STORE=true

# OpenAI API Key
OPENAI_API_KEY=sk-YourOpenAIKey

# Backend API Authorization
API_AUTH_HEADER_NAME=Authorization
# Ensure this key is the same in the frontend app environment
# https://generate-random.org/api-key-generator?count=1&length=128&type=mixed-numbers&prefix=sr-
BACKEND_API_KEY=sr-SomeRandomKey

# Supabase Settings
SUPABASE_URL=https://YourSupabaseProjectID.supabase.co
SUPABASE_ANON_KEY=YourSupabaseAnonKey
SUPABASE_JWT_SECRET=YourSupabaseJWTSecret
POSTGRES_CONNECTION_STRING=postgresql://postgres:postgres@localhost:5432/smart_retrieval